@import "../../../app/assets/sass/app.scss";

#hero {
    h1.headline span {
        display: inline-flex;
    }

    h1.headline span:nth-child(even) {
        overflow: hidden;
        transition: ease-in-out 0.7s;
        color: white;
        letter-spacing: -1em;
        font-size: 3.25rem;
        line-height: 1.05;
    }

    h1.headline:hover span:nth-child(even) {
        letter-spacing: 0.05em;
    }

    .left > div,
    .right > div {
        margin: 1rem 0 1rem 0;
    }

    .left > div {
        transform-origin: right;
    }

    .right > div {
        transform-origin: left;
    }

    .left > div:hover,
    .right > div:hover {
        transform: rotate(0deg) !important;
    }
}

.swiper-slide {
    width: 70% !important;
}

/*referred from https://www.codeseek.co/wdmg/heart-flying-animation-with-css-MvvYQO 

changed keyframes a bit and reduced scaling
*/

#footer {
    .icon {
        position: absolute;
        margin: 1rem;
        opacity: 0;
    }

    @keyframes flyingEven {
        0% {
            transform: translate(5px, 10px) scale(0) rotate(0deg);
        }
        50% {
            opacity: 1;
        }
        100% {
            transform: translate(20px, -240px) scale(1.5) rotate(120deg);
            opacity: 0;
            filter: blur(5px);
        }
    }
    @keyframes flyingOdd {
        0% {
            transform: translate(0, 0) scale(0) rotate(0deg);
        }
        50% {
            opacity: 1;
        }
        100% {
            transform: translate(-30px, -240px) scale(1.5) rotate(-90deg);
            opacity: 0;
            filter: blur(5px);
        }
    }

    @keyframes flyingBig {
        0% {
            transform: translate(0, 0) scale(0);
        }
        50% {
            opacity: 1;
        }
        100% {
            transform: translate(0, -240px) scale(1.5);
            opacity: 0;
            filter: blur(5px);
        }
    }

    @keyframes mouseClick {
        from {
            transform: scale(0.98);
        }
        to {
            transform: scale(1.02);
        }
    }

    @keyframes embolden {
        to {
            font-weight: bold;
        }
    }

    .animate-mouseClick {
        animation: mouseClick 0.25s linear infinite;
    }

    .animate-embolden {
        animation: embolden 1s steps(2, end) infinite;
    }

    .team::before {
        display: block;
        content: attr(text);
        font-weight: bold;
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }
}
