@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        -webkit-tap-highlight-color: transparent;
        scroll-behavior: smooth;
    }

    [x-cloak] {
        display: none;
    }

    /****** Scrollbar **********/

    ::-webkit-scrollbar {
        background: rgb(32, 35, 36);
        width: 14px;
    }

    ::-webkit-scrollbar-thumb {
        background: rgb(72, 78, 81);
        border-radius: 50px;
        border: 3px solid rgb(32, 35, 36);
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgb(85, 92, 96);
    }
}

@layer utilities {
    .bg-trans {
        background: transparent !important;
    }
    .select-none {
        user-select: none;
    }

    header .overlay {
        -webkit-mask-image: linear-gradient(
            180deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.6) 150%
        );
    }

    .fade-edge {
        -webkit-mask-image: linear-gradient(
            180deg,
            rgba(0, 0, 0, 1) 25%,
            rgba(0, 0, 0, 0.8) 75%,
            rgba(0, 0, 0, 0) 100%
        );
    }

    .text-gradient {
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }

    .axis:hover {
        transform: scale(1.02);
        transition-duration: 300ms;
    }

    .contact:hover {
        transform: scale(1.1);
    }
}
