@import "../../../app/assets/sass/app.scss";

/****** CSS Particles **********/

/* Config */
// $color-bg: #1e1e1e;
$color-particle: rgba(255, 255, 255, 0.4);
$spacing: 2560px;
$multiplier: 5;
$time-1: calc(60s * $multiplier);
$time-2: calc(120s * $multiplier);
$time-3: calc(180s * $multiplier);
$time-4: calc(200s * $multiplier);

/* mixins */
@function particles($max) {
    $val: 0px 0px $color-particle;
    @for $i from 1 through $max {
        $val: #{$val},
            random($spacing) + px random($spacing) + px $color-particle;
    }
    @return $val;
}

@mixin particles($max) {
    box-shadow: particles(150);
    border-radius: 50%;
}

.animation-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.particle,
.particle:after {
    background: transparent;
}

.particle:after {
    position: absolute;
    content: "";
    top: $spacing;
}

.particle-1 {
    animation: animParticle $time-1 linear infinite;
    @include particles(1000);
    height: 2px;
    width: 2px;
}

.particle-1:after {
    @include particles(900);
    height: 2px;
    width: 2px;
}

.particle-2 {
    animation: animParticle $time-2 linear infinite;
    @include particles(800);
    height: 2px;
    width: 2px;
}

.particle-2:after {
    @include particles(500);
    height: 3px;
    width: 3px;
}

.particle-3:after {
    @include particles(1100);
    height: 3px;
    width: 3px;
    border-radius: 50%;
}

.particle-4 {
    animation: animParticle $time-4 linear infinite;
    @include particles(1200);
    height: 1px;
    width: 1px;
}

.particle-4:after {
    @include particles(700);
    height: 1px;
    width: 1px;
}

@keyframes animParticle {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY($spacing * -1);
    }
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left-width: 10px;
    border-left-style: solid;
}

// @keyframes cursor-blink {
//   0% {
//     opacity: 0;
//   }
// }

// .console .command::after {
//   content: "";
//   width: 5px;
//   height: 20px;
//   background: #ec7fff;
//   display: inline-block;
//   animation: cursor-blink 1.5s steps(2) infinite;
// }

.Typewriter__cursor {
    content: "";
    background-color: white;
}